BOOTX64.EFI
.vscode/
kernel/kernel.elf
x86_64-elf/
x86_64-elf.tar.gz
  
# Prerequisites
*.d
*.bin

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

disk.img

edk2